* text=auto !eol
/.classpath -text
/.project -text
META-INF/MANIFEST.MF -text
META-INF/maven/org.gcube.core/common-scope-maps/pom.properties -text
META-INF/maven/org.gcube.core/common-scope-maps/pom.xml -text
distro/LICENSE -text
distro/README -text
distro/changelog.xml -text
distro/descriptor.xml -text
distro/profile.xml -text
/pom.xml -text
src/main/java/org/gcube/common/scope/maps/ServiceMapScanner.java -text
src/main/java/org/gcube/common/scope/maps/ServiceMaps.java -text
src/main/resources/cnr.servicemap -text
src/main/resources/d4science.servicemap -text
src/main/resources/devnext.servicemap -text
src/main/resources/devsec.servicemap -text
src/main/resources/ecosystem.servicemap -text
src/main/resources/farm.servicemap -text
src/main/resources/gcube.servicemap -text
src/main/resources/gcubeapps.servicemap -text
src/main/resources/isti.servicemap -text
src/main/resources/openaire.servicemap -text
src/main/resources/openbio.servicemap -text
src/main/resources/securevo.servicemap -text
src/main/resources/smartarea.servicemap -text
src/main/resources/sobigdata.servicemap -text
src/main/resources/testing.servicemap -text
src/main/resources/vo1.servicemap -text
src/test/java/org/gcube/common/scope/maps/ServiceMapTest.java -text
